##Vivado 쓰레기 파일 제외 
**/*.runs/
**/*.cache/
**/*.ip_user_files/
**/*.gen/
**/.Xil/

#로그 및 기록 파일 제외
*.log
*.jou
*.str

#비바도 에러 덤프 파일
*.dmp

#시뮬레이션 결과 파일 제외
*.wdb
*.vpb
**/sim/
**/*.sim/

# Vivado project file / hardware export
*.xpr
*.hw/

#기타 제외
*.zip